<ion-content [fullscreen]="true">
 
  <div>
    <ion-list *ngFor="let stundent of studentlist" >
      <ion-row>
        <ion-col>
      <ion-item color="primary">
        <ion-label>{{stundent.name}}</ion-label>
      </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="primary" >
            <ion-label>{{stundent.department}}</ion-label>
          </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>{{stundent.section}}</ion-label>
              </ion-item>
                </ion-col>

    </ion-row>
    </ion-list>
  </div>

  <div>
      <ion-button size="large" (click)='navigate()'>Large</ion-button>
  </div>
<!--
  <ion-row *ngFor="let channel of channels" >
    <ion-col>
      <ion-item  lines="none" (click)="gotnextpage(channel.name)" >
     <ion-thumbnail slot="start">
        <img src='/assets/slack.png'>
      </ion-thumbnail>
      
      <ion-label>
        <h3>{{ channel.id | uppercase }}</h3>
        <p>{{ channel.name}}</p>
          
      </ion-label>
    </ion-item>
  </ion-col>
<ion-item>
    <ion-col>
      <ion-button (click)='gotnextpage(channel.name)' expand="block" >go to my channel page</ion-button>

    </ion-col>
  </ion-item>
  </ion-row>
-->
<ion-row *ngFor="let channel of slckchnelfrommyslack.channels" >
  <ion-col>
    <ion-item  lines="none" (click)="gotnextpage(channel.id)" >
   <ion-thumbnail slot="start">
      <img src='/assets/slack.png'>
    </ion-thumbnail>
    
    <ion-label>
      <h3>{{ channel.id | uppercase }}</h3>
      <p>{{ channel.name}}</p>
      <p>{{ channel.purpose.value}}</p>
      <p>{{ channel.topic.value}}</p>
        
    </ion-label>

  </ion-item>
  <ion-row *ngFor="let member of channel.members" >
    <ion-col>
      <ion-item>
        <h3>{{ member }}</h3>
      </ion-item>
    </ion-col>

  </ion-row>
  
</ion-col>
<ion-item>
  <ion-col>
    <ion-button (click)='gotnextpage(channel.name)' expand="block" >go to my channel page</ion-button>

  </ion-col>
  
</ion-item>

</ion-row>
 
</ion-content>
